html
  head
    title "Pong Online v0.0.1

    script(src="/common/Constants.js")
    script(src="/common/GameLogic.js")
    script(src="/common/GameInput.js")
    script(src="/common/Player.js")
    script(src="/client/GameRenderer.js")
    script(src="/client/renderer/PlayerRenderer.js")
    script(src="/client/FullClientGame.js")

    script(src="/client/main.js")

  body
    div#game
      canvas#game-canvas

