html
  head
    title "Pong Online v0.0.1

    script(src="/socket.io/socket.io.js")

    script(src="/network/client/NetworkClient.js")

    script(src="/client/require.js")

    script(src="/common/Util.js")

    script(src="/common/Constants.js")
    script(src="/common/GameLogic.js")
    script(src="/common/GameInput.js")

    script(src="/common/Player.js")
    script(src="/common/Ball.js")

    script(src="/client/GameRenderer.js")

    script(src="/client/ClientGameInput.js")
    script(src="/client/InputController.js")
    script(src="/client/KeyboardController.js")

    script(src="/client/renderer/PlayerRenderer.js")
    script(src="/client/renderer/BallRenderer.js")

    script(src="/common/TwoPlayersGameLogic.js")
    script(src="/client/ClientTwoPlayersGameLogic.js")
    script(src="/client/FullClientGame.js")

    script(src="/client/main.js")

  body
    div#game
      canvas#game-canvas

